<h1>This is a message from a customer!!</h1> <br>


<b>Name:</b> <%= @username %> <br>
<b>Surname:</b> <%= @userepitheto %> <br>
<b>Email:</b> <%= @email_user %> <br>
<b>Company:</b> <%= @aiteria%> <br>
<b>Phone:</b> <%= @number%> <br>
<hr/>
<h3>Message</h3>
<p><%= @message %></p>