= form_for @paraggelium do |f|
  - if @paraggelium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@paraggelium.errors.count, "error")} prohibited this paraggelium from being saved:"
      %ul
        - @paraggelium.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
